<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <title>{% block title %}{% endblock title %} TODO-IN-LIFE </title>
  {% endblock head %}
</head>
<body>
  <div class="header" >
    <h1 class="title">TODO IN LIFE</h1>
    <nav>
      <!-- <a href="/">TOP</a> -->
      <ul>
        <li>
          <a href="/">HOME</a>
        </li>
        <li>
          <a href="/signup">Sign up</a>
        </li>
        <li>
          <a href="/login">Log in</a>
        </li>
        <li>
          <a href="/logout">Log out</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="content">{% block content %}{% endblock content%}</div>
  <div class="footer" >
    <h3>TODO IN LIFE@2022</h3>
  </div>
</body>
</html>